

.Auth{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3rem;
    position: relative;
}
.Auth>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*leftside */
.a-left{
    gap:1rem;
}

.a-left >img{
    width: 6rem;
    height: 6rem;
}

.webName> h1{
    font-size: 3rem;
    background-color: red;
    
    /*crate the gradient*/
    background-image: var(--buttonBg);

    /*set the background size and repeat properties*/
    background-size: 100%;
    background-repeat: repeat;

    /*use the text as mask for the background*/
    /*Thid=s will show the gradient as a text color rather than the element bg*/
-webkit-background-clip: text;
-webkit-text-fill-color: rgba(219, 21, 21, 0.822);
-moz-background-clip: text;
-moz-text-fill-color:transparent;

}

.webName>h6{
    font-size: 1rem;
    -webkit-text-fill-color: rgba(173, 4, 159, 0.884);

}

.infoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.infoInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.infoForm>div{
    display: flex;
    gap:1rem;
    height: 2rem;
    width: 90%;
}

.infoButton{
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}
.buttonleft{
    width: 6rem;
    height: 2rem;
    align-self: flex-start;
}
.authForm{
    /* background-color: var(--cardColor); */
    background-color: rgb(217, 247, 245);
    border-radius: 1rem;
    padding: 1rem;
}
.authForm>div{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.authForm>h3{
    font-size: 2rem;
}